{% extends 'base/layout.html' %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Device Credentials</h2>
    <a href="{% url 'plugins:netbox_device_config:devicecredential_add' %}" class="btn btn-success">Add Credential</a>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Device</th>
        <th>Host</th>
        <th>Port</th>
        <th>Username</th>
    </tr>
    </thead>
    <tbody>
    {% for c in table %}
    <tr>
        <td>{{ c.device }}</td>
        <td>{{ c.host }}</td>
        <td>{{ c.port }}</td>
        <td>{{ c.username }}</td>
        <td>
            <a href="{% url 'plugins:netbox_device_config:devicecredential_edit' c.id %}" class="btn btn-sm btn-outline-primary">Edit</a>
            <a href="{% url 'plugins:netbox_device_config:devicecredential_test' c.id %}" class="btn btn-sm btn-outline-success">Test</a>
            <a href="{% url 'plugins:netbox_device_config:devicecredential_backup' c.id %}" class="btn btn-sm btn-outline-warning">Backup</a>
        </td>

    </tr>
    {% empty %}
    <tr><td colspan="4">No credentials yet</td></tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
